<configuration>
	<system.webServer>
		<handlers>
			<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
		</handlers>
		<aspNetCore
		  processPath="%LAUNCHER_PATH%"
		  arguments="%LAUNCHER_ARGS%"
		  hostingModel="InProcess"
		  stdoutLogEnabled="true"
		  stdoutLogFile=".\logs\stdout" />
	</system.webServer>
</configuration>
