version: '3.9'

services:
  appointments-project-back-prod:
    container_name: appointments-project-back-prod
    build:
      context: ../../
      dockerfile: Web_back/Dockerfile
    restart: always
    env_file:
      - .env
    ports:
      - "5106:8080"
    networks:
      -  appointments_network
    
    labels:
      - com.appointments.environment=prod

networks:
   appointments_network:
    external: true
