name: Build and deploy ASP.Net Core app to Azure Web App - appointments-backend

on:
  push:
    branches:
      - develop
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.x'

      - name: Build ONLY Web_back
        run: dotnet build Appointments-Project-Back/Web_back/Web_back.csproj --configuration Release

      - name: Publish ONLY Web_back
        run: dotnet publish Appointments-Project-Back/Web_back/Web_back.csproj -c Release -o ${{env.DOTNET_ROOT}}/myapp

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: .net-app
          path: ${{env.DOTNET_ROOT}}/myapp

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: .net-app
      
      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_7C9D36687A7840E58AD42238A6681D57 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_A9B134C79AF741F3A2D83AA0B9531199 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_842FDE36F978400C9A9DB2220B2AD6BD }}

      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'appointments-backend'
          slot-name: 'Production'
          package: .
